@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
section {
  width: 100%;
}

.content-container {
  margin: 0 auto;
  width: 1140px;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.page-container.no-scroll {
  overflow-y: hidden;
}

.page-preview {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  padding-left: 20vw;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), color-stop(14.61%, rgba(0, 0, 0, 0.15)), color-stop(82.79%, rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 14.61%, rgba(0, 0, 0, 0.15) 82.79%, rgba(0, 0, 0, 0.3) 100%);
}

.page-preview__info {
  margin-bottom: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 45px 35px 45px 45px;
  background: white;
}

.page-preview__info::after {
  content: "";
  pointer-events: none;
  position: absolute;
  top: -100%;
  left: 0;
  display: block;
  width: calc(100% - 2px);
  height: 2000vw;
  border-left: solid 1px rgba(255, 255, 255, 0.5);
  border-right: solid 1px rgba(255, 255, 255, 0.5);
}

.page-preview__info::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  width: 2000vw;
  height: calc(100% - 2px);
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

.page-preview__category {
  font-size: 16px;
  color: #111111;
  text-transform: uppercase;
  letter-spacing: 10%;
}

.page-preview__title {
  font-size: 50px;
  color: #111111;
  max-width: 475px;
  background-image: url("../img/bullets.svg");
  background-size: contain;
}

.page-preview__description {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-preview__description p {
  max-width: 370px;
  margin-left: 40px;
}

.page-preview__divider {
  margin-top: 7px;
  width: 60px;
  height: 1px;
  background: #111111;
}

.page-preview__hint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
  margin-bottom: 208px;
}

.page-preview__hint p {
  margin-left: 20px;
  font-weight: bold;
  font-size: 12px;
  text-decoration: underline;
  text-transform: uppercase;
  color: white;
}

.page-content {
  position: relative;
  width: 100%;
  background: white;
  z-index: 20;
}

.page-content header {
  position: unset;
}

.page-title {
  background: url("../img/backgrounds/alutubes/bg1.png");
  background-size: cover;
}

.page-title__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 94px 40px 94px 54px;
  background: white;
}

.page-title__category {
  font-size: 16px;
  color: #111111;
  text-transform: uppercase;
  letter-spacing: 10%;
}

.page-title__title {
  font-size: 50px;
  color: #111111;
  max-width: 475px;
  background-image: url("../img/bullets.svg");
  background-size: contain;
}

.page-introduction {
  padding: 60px 0 130px 0;
}

.page-introduction__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-introduction__info {
  margin-left: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 540px;
  padding-top: 50px;
}

.page-introduction__info .page-preview__description {
  margin-top: 50px;
}

.page-introduction__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 40px;
  color: #111111;
  background-image: url("../img/bullets.svg");
  background-size: contain;
}

.page-usage {
  padding: 100px 0 120px 0;
  background: url("../img/backgrounds/alutubes/bg2.png");
  background-repeat: no-repeat;
}

.page-usage__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-usage__container .page-title__category,
.page-usage__container .page-introduction__title {
  color: white;
}

.page-usage__container .page-introduction__title {
  background-repeat: no-repeat;
  background-position: 20px 20px;
  background-image: url("../img/bullets_dark.svg");
}

.usage-areas-container {
  margin-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.usage-area {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 212px;
  padding: 30px 20px 24px 20px;
  background: white;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
}

.usage-area img {
  width: 120px;
  height: 120px;
}

.usage-area p {
  margin-top: 24px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #111111;
}

.page-specs {
  margin-bottom: 128px;
}

.page-specs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.specs-table {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  width: 100%;
}

.specs-table__column {
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
}

.specs-table__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.specs-table__item p {
  margin-left: 10px;
  font-weight: 300;
  font-size: 14px;
  color: #111111;
}

.specs-table__item__marker {
  width: 8px;
  height: 8px;
  border-radius: 1000px;
  background: #111111;
}

footer {
  width: 100%;
  padding-top: 70px;
  background: #F7F9FB;
}

.footer__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  -webkit-column-gap: 91px;
          column-gap: 91px;
  width: 100%;
}

.footer__menu__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__menu__column__title {
  font-weight: bold;
  font-size: 24px;
  color: #111111;
}

.footer__menu__categories {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -webkit-column-gap: 50px;
          column-gap: 50px;
  row-gap: 20px;
  width: 100%;
}

.footer__menu__categories .openPageMain,
.footer__menu__categories .openPageElement {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #111111;
  letter-spacing: 10%;
  text-transform: uppercase;
  cursor: pointer;
}

.footer__menu__categories .openPageMain:hover,
.footer__menu__categories .openPageElement:hover {
  text-decoration: underline;
}

.footer__production-column .footer__menu__categories {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.footer__menu__info p {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 10%;
  color: #111111;
  text-transform: uppercase;
}

.footer__menu__info p span {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0;
  text-transform: none;
}

.footer__menu__info p a {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0;
  text-decoration: none;
  color: #111111;
  text-transform: none;
}

.footer__menu__info p a:hover {
  text-decoration: underline;
}

.footer__bottom {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 6px 20px 6px;
  border-top: solid 1px #E5E5E5;
}

.footer__bottom p {
  font-weight: 300;
  font-size: 16px;
  color: #111111;
}

.footer__bottom a {
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: #111111;
}
/*# sourceMappingURL=page.css.map */