@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow: hidden;
}

main {
  position: relative;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 30px 50px;
  background: transparent;
}

header.on-page {
  -webkit-transition: .5s;
  transition: .5s;
  background: white;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  width: 50px;
  height: 50px;
}

.header__logo p {
  margin-left: 26px;
  font-size: 20px;
  color: #111111;
  text-transform: uppercase;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language-switcher {
  margin-right: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language-switcher p {
  margin-right: 14px;
  font-weight: bold;
  font-size: 14px;
  color: #111111;
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  background: #111111;
  -webkit-transition: .1s;
  transition: .1s;
}

.menu-btn:hover {
  cursor: pointer;
  background: #427c36;
}

.menu-btn p {
  font-weight: bold;
  font-size: 14px;
  color: white;
  margin-right: 15px;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.menu-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40px;
  height: 24px;
}

.menu-icon div {
  background: white;
}

.menu-icon div:nth-child(1) {
  width: 30px;
  height: 1px;
}

.menu-icon div:nth-child(2) {
  width: 100%;
  height: 2px;
}

.menu-icon div:nth-child(3) {
  width: 50%;
  height: 1px;
}

.menu-container {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: white;
  z-index: 9;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu-container.active {
  top: 0;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 30px 50px;
}

.menu-points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 21px;
  padding: 0 50px;
}

.menu-point {
  cursor: pointer;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.menu-point:hover {
  -webkit-transition: .1s;
  transition: .1s;
  font-weight: bold;
}

.menu-point.active {
  font-weight: bold;
}

.menu-point:not(:nth-child(1)) {
  margin-top: 40px;
}

.menu-close {
  cursor: pointer;
}

.contact-btn {
  position: absolute;
  right: 50px;
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  background: white;
  cursor: pointer;
  -webkit-transition: .1s;
  transition: .1s;
}

.contact-btn:hover {
  background: #111111;
}

.contact-btn:hover p {
  color: white;
}

.contact-btn:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.contact-btn p {
  margin-left: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #111111;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navigation-hover {
  cursor: pointer;
}

.preloader {
  position: absolute;
  top: -100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 100;
}

.preloader.loading {
  top: 0;
}

.preloader h1 {
  margin-top: 54px;
  font-size: 50px;
  text-align: center;
  color: #111111;
}

.progress-loader-body {
  margin-top: 65px;
  width: 1140px;
  height: 5px;
  background: #F5F5F5;
  border-radius: 1000px;
}

.progress-loader-active {
  width: 25%;
  height: 5px;
  background: #111111;
  border-radius: 1000px;
}

.progress-loader-status {
  margin-top: 6px;
  font-size: 12px;
  color: #363636;
}

.progress-loader-indicator {
  margin-top: 30px;
  font-size: 16px;
  text-align: center;
}

.animation-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), color-stop(14.61%, rgba(0, 0, 0, 0.15)), color-stop(82.79%, rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 14.61%, rgba(0, 0, 0, 0.15) 82.79%, rgba(0, 0, 0, 0.3) 100%);
  color: white;
}

.animation-container h1 {
  opacity: 0;
  font-weight: 900;
  font-size: 150px;
}

.animation-container.animated h1 {
  -webkit-animation: animation-container;
          animation: animation-container;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.animation-container.animated #animation-hint-1 {
  -webkit-animation: animation-container;
          animation: animation-container;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.animation-container.animated #animation-hint-2 {
  -webkit-animation: animation-container;
          animation: animation-container;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.animation-container.transparent {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.animation-container.animation-end {
  top: -10000px;
}

.animation-hint {
  opacity: 0;
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.animation-hint p {
  margin-left: 20px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

@-webkit-keyframes animation-container {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation-container {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.navigationPopup {
  position: absolute;
  bottom: -100px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 23px 30px;
  border-bottom: solid 4px #111111;
  background: white;
  z-index: 5;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

.navigationPopup h3 {
  font-size: 30px;
  margin-right: 20px;
}

.navigationPopup span {
  margin-top: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.navigationPopup.activePopup {
  opacity: 1;
  bottom: 48px;
}

.navigationPopup:before {
  content: "";
  position: absolute;
  bottom: -62px;
  left: -20%;
  width: 120%;
  height: 62px;
  background-image: url("../img/popup_vector.svg");
  background-repeat: no-repeat;
}

.pages-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 20;
}

.page-unit {
  position: absolute;
  top: 150vh;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  z-index: 6;
}

.page-unit.activePage {
  top: 0;
}

.aluTubesPage-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding: 64px;
  background: white;
  font-size: 32px;
  font-weight: 600;
  color: #202124;
}

.aluTubesPage-container span {
  margin-top: 12px;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */