$text-black: #111111;

// Montserrat Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Roboto font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Production page

.page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;

    &.no-scroll {
        overflow-y: hidden;
    }
}

.page-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    min-height: 100vh;
    padding-left: 20vw;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 14.61%, rgba(0, 0, 0, 0.15) 82.79%, rgba(0, 0, 0, 0.3) 100%);
}

.page-preview__info {
    margin-bottom: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 45px 35px 45px 45px;
    background: white;
}

.page-preview__category {
    font-size: 16px;
    color: $text-black;
    text-transform: uppercase;
    letter-spacing: 10%;
}

.page-preview__title {
    font-size: 50px;
    color: $text-black;
    max-width: 475px;
}

.page-preview__description {
    margin-top: 20px;
    display: flex;

    p {
        max-width: 370px;
        margin-left: 40px;
    }
}

.page-preview__divider {
    margin-top: 7px;
    width: 60px;
    height: 1px;
    background: $text-black;
}

.page-preview__hint {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 208px;

    p {
        margin-left: 20px;
        font-weight: bold;
        font-size: 12px;
        text-decoration: underline;
        text-transform: uppercase;
        color: white;
    }
}

.page-content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: white;
    z-index: 20;
}